.regular-style {
    width: 100%;
    height: 42px;
    border-radius: 25px;
    padding: none;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 14px;
    outline: none;
}

.regular-style::placeholder {
    font-size: 14px;
    color: gray;
    opacity: 0.8;
}

.input-error {
    border: ipx solid red;
    color: red;
    background: rgb(255, 189, 189);
    height: 42px;
    width: 100%;
    border-radius: 25px;
    padding: none;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 14px;
    outline: none;
}

.input-error::placeholder {
    color: red;
    font-size: 14px;
}